<p>Hi {{merchantName}},</p>
<p>Your analytics report is ready for download.</p>
<div class="detail-box">
  <table>
    <tr><td>Report</td><td>{{reportName}}</td></tr>
    <tr><td>Expires At</td><td>{{expiresAt}}</td></tr>
  </table>
</div>
<p><a href="{{downloadUrl}}">Download your analytics PDF</a></p>
<p>This link expires 24 hours after it is generated.</p>
